.App {
	background-image: url("./images/windows95.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;

	.minus {
		border-right: solid 5px red;
	}

	.plus {
		border-right: solid 5px green;
	}

	.deleteButton {
		margin-right: 2em;
	}
}
