/* -------------------------------- Variables ------------------------------- */
$blue: #0000ff;
$black: #000000;
$grey: #c0c0c0;

html {
	height: 100%;
}

.App {
	height: 100vh;
	display: flex;
	flex-direction: column;

	.top-container {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 30%;
		background-color: $blue;
	}

	.bottom-container {
		background-color: $blue;
		width: 100%;
		height: 70%;
	}
}
