.App {
	width: 100%;
	height: 100vh;
	background-color: coral;
}

.top-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 40%;
	background-color: lightblue;
}

.Asset-Value {
	width: 20rem;
	background-image: blue;
}
